<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/search}">
    <label for="query">Enter search term</label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Search!">
</form>

<div  th:if="${books}">
    <div  th:if="${books.isEmpty()}">
      <span>Books not found!</span>
    </div>

    <div  th:each="book : ${books}">
      <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfProduction()}">book</p>

      <div th:if="${book.getOwner() != null}">
        <span>Book is now: </span>
        <span th:text="${book.getOwner().getFullName()}">Person name</span>
      </div>

      <div th:if="${book.getOwner() == null}" >
        <span>Book is free</span>
      </div>
      <hr/>
    </div>
</div>


</body>
</html>